services:
  server:
    build:
      context: ./server
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build:
      context: ./client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_TARGET=http://server:3000
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server

